<%- layout("/layouts/boilerplate") %>
<body>
    <script>
        let Maptoken="<%=process.env.MAP_TOKEN%>";
          
            let coordinates=<%- JSON.stringify(list.geometry.coordinates) %>
    
    
    </script>
    <div class="showMain">
    <div class="showDiv">
    <div class="showCard">
        <div class="card card1" style="width: 18rem;">
            <img src="<%=list.image.url%>" class="card-img-top showImg" alt="..." height="250rem">
            <div class="card-body">
              <p class="card-text"><b><%= list.title%></b></p>
              <p>Owned By <i><%=list.owner.username%></i></p>
              <p class="card-text"><b><%= list.description%></b></p>
              <p>Price :&#8377;<%=list.price.toLocaleString('en-IN')%>/night</p>
              <p class="card-text">Located At <b><%= list.location%></b></p>
              <p class="card-text">Country : <b><%= list.country%></b></p>
            </div>
           
            <% if(current_user && current_user._id.equals(list.owner._id)){ %>
            <div class="showBtn d-flex gap-3">
           
                <a class="btn btn-outline-warning m-1.5" href="/listings/edit/<%=list._id%>">Edit</a>
                <form method="post" action="/listings/<%=list._id%>?_method=DELETE">
                    <button class="btn btn-outline-danger m-1.5">Delete</button>
                </form> 
           <% } %>
           
          
            </div>
            <div>
                
            </div>
       
        </div>
        
    
    </div>
    </div>
    <hr>
   
  <div class="revireForm">
    <form method="post" action="/listings/<%=list._id%>/review">
        <%if(current_user){ %>
        <div><p><b>Leave a Review</b></p></div>
        <!-- <div>
            <label for="rate">Give Rate out of 5</label>
            <br>
            <input id="rate" name="listing[rating]" type="range" min="0" max="5" class="form-range mt-2">
        </div> -->
        <fieldset class="starability-slot">
            <legend>rating:</legend>
            <input type="radio" id="no-rate" class="input-no-rate" name="rating" value="1" checked aria-label="No rating." />
            <input type="radio" id="first-rate1" name="listing[rating]" value="1" />
            <label for="first-rate1" title="Terrible">1 star</label>
            <input type="radio" id="first-rate2" name="listing[rating]" value="2" />
            <label for="first-rate2" title="Not good">2 stars</label>
            <input type="radio" id="first-rate3" name="listing[rating]" value="3" />
            <label for="first-rate3" title="Average">3 stars</label>
            <input type="radio" id="first-rate4" name="listing[rating]" value="4" />
            <label for="first-rate4" title="Very good">4 stars</label>
            <input type="radio" id="first-rate5" name="listing[rating]" value="5" />
            <label for="first-rate5" title="Amazing">5 stars</label>
          </fieldset>





        <div>
            <label for="comment">comment</label>
            <br>
           <textarea id="comment" name="listing[comment]" class="form-control mt-2"></textarea>
        </div>
        <button class=" btn btn-outline-dark mt-2">Sumbit</button>
        <%}%>
    </form>
    </div>

    <br>
    <br>
  

    
    
    
    <div class="reviewCards m-2  ">
        <%for(let review of list.reviews){ %>
            <div class="card col-6 m-2 p-1" style="width: 25rem;" >
                <div class="card-body">
                    <h5 class="card-title">@<%= review.author.username%></h5>
                    <h6>Comment :</h6>
                  <p class="card-text"><%=review.comment%></p>
                  <p class="starability-result" data-rating="<%=review.rating%>">
                  
                  </p>
                </div>
                <form method="post" action="/listings/<%=list._id%>/review/<%=review._id%>?_method=DELETE">
                    <button class="btn btn-outline-danger">Delete</button>
                </form>
              
              </div>

        <%}%>
     
    
        
    </div>
    <hr>
    <div >
        <h1 style="text-align: center;">Where you'll be</h1>
    <div id="map"></div>

    </div>
    </div>
    <script src="/js/map.js">
    </script>
</body>
