<%- layout("/layouts/boilerplate") %>

<style>
    .filters{
        display: flex;
        flex-direction: row;
        align-items: center;
        /* justify-content: center; */
        text-align: center;
        flex-wrap: wrap;
       
     
    }
    .filter{
        margin-top: 2rem;
        margin-right: 2.5rem;
        opacity: 0.7;
     
    }
    .filter:hover{
        opacity: 1;
        cursor: pointer;
    }
    .fa-solid{
        height: 2rem;
    }
    .filter p{
        height: 1.7rem;
    }
    .tax-display{
        display: none;
    }
    .tax{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-left: 3rem;
        border: 1px solid black;
        text-align: center;
        border-radius: 5rem;
        height: 2rem;
        padding: 1rem;
        /* width: 10vw; */
    }
</style>
<body>
    <!-- <form method="get" action="/listings/new">
        <button>Create</button>
    </form> -->
    <div class="filters">
        <div class="filter">
          <div>
            <i class="fa-solid fa-fire"></i>
            </div>
            <p>Treading</p>
        </div>
        <div class="filter">
            <div>
                <i class="fa-solid fa-mountain-sun"></i>
              </div>
              <p>Moutain</p>
          </div>
          <div class="filter">
            <div>
                <i class="fa-solid fa-tents"></i>
              </div>
              <p>Camping</p>
          </div>
          <div class="filter">
              <div>
                <i class="fa-solid fa-water"></i>
                </div>
               
                <p>Lake</p>
            </div>
            <div class="filter">
                <div>
                    <i class="fa-solid fa-city"></i>
                  </div>
                  <p>Top cities</p>
              </div>
              <div class="filter">
                  <div>
                    <i class="fa-solid fa-sailboat"></i>
                    </div>
                    <p>boats</p>
                </div>
                <div class="filter">
                    <div>
                        <i class="fa-solid fa-person-swimming"></i>
                      </div>
                      <p>pools</p>
                  </div>
                  <div class="filter">
                      <div>
                        <i class="fa-solid fa-umbrella-beach"></i>
                        </div>
                        <p>beach</p>
                    </div>
                    <div class="filter">
                        <div>
                            <i class="fa-solid fa-tree"></i>
                          </div>
                          <p>Tree house</p>
                      </div>
                      <div class="filter">
                        <div>
                            <i class="fa-solid fa-gopuram"></i>
                          </div>
                          <p>Temple</p>
                      </div>

                    <div class="tax">
                        <div class="form-check-reverse form-switch">
                            <input class="form-check-input tax-toggle" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                            <label class="form-check-label" for="flexSwitchCheckDefault">Display total after tax</label>
                          </div>
                    </div>
    </div>
    
    <div class="cards mt-3">
        <% for(let list of listing){ %>
            <a class="cardImg" href="/listings/<%=list._id %>">
            <div class="card tax-display-1" style="width: 18rem;">
                <img src="<%=list.image.url%>" class="card-img-top" alt="..." height="250rem">
                <div class="card-body">
                  <p class="card-text"><b><%= list.title%></b></p>
                  <p>Price :&#8377;<%=list.price.toLocaleString('en-IN')%>/night&nbsp;&nbsp;<i class="tax-display">+18% gst</i></p>
                  
                </div>
              </div>
              <%} %>
              </a>

    </div>
    
<script>
        
        let tax=document.querySelector(".tax-toggle");
        tax.addEventListener("click",()=>{
            console.log("clicked");
            let eles=document.getElementsByClassName("tax-display");
            // console.log(eles);
            for(ele of eles){
                if(ele.style.display!="inline"){
                    ele.style.display="inline";
                }
                else{
                    ele.style.display="none";
                }
              

            }
        })
</script>   
</body>

